header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    color: rgb(112, 112, 112);
}

h1 {
    color: rgb(112, 112, 112);
}